.cardMostra {
    padding: 2rem;
    display: flex;
    height: 50rem;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $vermelho;
    position: relative;
    text-decoration: none;
    color: $preto;

    &__header {
        font-size: 5.6rem;
        line-height: 4.8rem;
        word-break: break-word;
        hyphens: auto;
        overflow-wrap: anywhere;
        
    }

    &__header--right {
        display: block;
        text-align: right;
    }

    &__text {
        text-align: right;
    }

    &__hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        opacity: 0;
        transition: all .2s ease-in-out;
    }

    &:hover {
        .cardMostra__hover {
            opacity: 1;
        }
    }
}

.mostra-atravessamentos {
    background-color: $atravessamentos;
}

.mostra-homenagem {
    background-color: $homenagem;
}

.mostra-especial {
    background-color: $especial;
}

.mostra-acervo {
    background-color: white;
}