.destaqueSlider {
    overflow: hidden;
    position: relative;
    
    &__header {
        height: 8rem;
        position: relative;
        @include padding;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &--title, &--data, &--local {
            font-weight: 900;
            z-index: 1;
        }
    }

    &__slider {
        position: relative;
    }

    &__slider-inner {
        display: flex;
        transition: transform 0.3s ease-in-out;

        & > a {
            min-width: 100%;
            flex-shrink: 0;
        }
    }

    &__card-link {
        display: block !important;
        text-decoration: none;
        color: $preto;
    }

    &__card {
        flex: 0 0 100%; // Aproximadamente 1 card na tela
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        position: relative;

        .grafismo {
            left: -100% !important;
            transition: all 0.2s ease-in-out;
        }

        &:hover .grafismo {
            left: 0 !important;
        }
    }

    &__card-img-box {
        width: 100%;
        height: 40rem;
        overflow: hidden !important;

        .grafismo {
            height: 40rem !important;
        }
    }

    &__card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    &__card-info {
        padding: 1rem 4rem;

    }

    &__card-title {
        font-size: 3.6rem;
        line-height: 2.8rem;
    }
    
    &__card-tec {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    &__card-sessao {
        font-size: 1.4rem;
        font-weight: 700;
        padding-bottom: 2rem;
    }

    &__card-data {
        font-size: 1.4rem;
        font-weight: 700;
        padding-bottom: 2rem;
    }
    
    &__control {
        position: absolute;
        top: 40rem;
        right: 8.9rem;
        transform: translateX(50%);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bullet-box {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    &__control-bullet {
        width: 1.2rem;
        height: 1.2rem;
        border: 1px solid $preto;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.2s;

        &.active {
            background-color: $preto;
        }
    }

    &__arrow-box {
        display: flex;
        margin-left: 2rem;
    }

    &__arrow {
        background-color: $vermelho;
        border: none;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        color: $preto;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &--left {
            transform: rotate(180deg);
        }

        &:hover {
            background-color: $preto;
            color: $vermelho;
        }
    }

    
}
