.footer {
    height: 40rem;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include padding;
    border-top: 1px solid $vermelho;

    @include respond(tab-port) {
        height: auto;
        padding: 2rem;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        p {
            font-size: 2.4rem;
        }
    }

    &__social-box {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__social-icon {
        height: 2.4rem;
    }

    &__logos-box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 8rem;
    }

    &__logos {
        width: 100%;
        object-fit: contain;
    }
}