.home__programacao-card-box {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-color: $vermelho transparent; // estiliza a barra no Firefox
    scrollbar-width: 8rem;
  
    &::-webkit-scrollbar {
      height: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: $vermelho;
      border-radius: 0;
    }
  
    > * {
      flex: 0 0 auto;
      scroll-snap-align: start;
    }
  }
.home__mostras-box {
    @include grid(repeat(4, 1fr), 0rem);
}
.home__sobre-box {
    @include grid(repeat(2, 1fr), 0rem);
}

.home__programacao-card-box > * {
  flex: 0 0 400px;
  max-width: 400px;
}