.home {

    &__programacao-card-box {
        display: flex;
    }

    &__programacao-footer {
        @include padding;
        margin: 4rem 0;
    }

    &__programacao-btn {
        font-size: 2.4rem;
        background-color: transparent;
        border: none;
        color: $vermelho;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover { 
            letter-spacing: .2rem;
        }
    }

    &__mostras-box {
        @include grid(repeat(4, 1fr), 0rem);
    }
    &__sobre-box {
        @include grid(repeat(2, 1fr), 0rem);
    }
}