.pageFilmeAcervo {
    display: grid;
    grid-template-columns: 6fr 8fr;
    min-height: 100vh;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
    }   

    &__embed-box {
        width: 100%;
        height: 60vh;

        border-bottom: 1px solid $vermelho;

        iframe, img {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 60vh;
            object-fit: cover;
            border: none;
        }

    }

    &__ficha-tec {
        padding: 2rem;
        border-bottom: 1px solid $vermelho;
    }

    &__galeria {
        border-bottom: 1px solid $vermelho;
    }

    &__territorio {
        border-bottom: 1px solid $vermelho;
    }

    &__conversas {
        border-bottom: 1px solid $vermelho;
    }

    &__producoes {
        border-bottom: 1px solid $vermelho;
    }

    &__galeria-slider {
        position: relative;
        overflow: hidden;
        scroll-snap-type: x mandatory;
    }

    &__galeria-inner {
        width: 100%;
        height: 60rem;
        background-color: black;
    }

    &__galeria-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        scroll-snap-align: start;
    }

    &__galeria-control {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 4rem;
        position: relative;
    }

    &__galeria-bullets {
        display: flex;
        gap: 0.5rem;
    }

    &__galeria-bullet {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid black;
        cursor: pointer;

        &.active {
            background-color: $preto;
        }
    }

    &__galeria-arrows {
        display: flex;
    }

    &__galeria-arrow {
        background-color: $vermelho;
        border: none;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        color: $preto;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        

        &:hover {
                background-color: $preto;
                color: $vermelho;
            }
    }

    &__territorio-card {
        position: relative;
        overflow: hidden;

        &:hover {
            .grafismo {
                left: 0 !important;
            }
        }

    }

    &__territorio-card a {
        text-decoration: none;
        color: $preto;

        .grafismo {
            top: 0 !important;
            left: -100% !important;
            transition: all .2s ease-in-out;
        }
    }

    &__territorio-img img {
        width: 100%;
        height: 50rem;
        object-fit: cover;
    }

    &__territorio-content {
        padding: 2rem;
    }

    &__territorio-title {
        font-size: 3.6rem;
        line-height: 3.6rem;
        margin-bottom: 1rem;
    }

    &__territorio-localizacao {
        font-size: 2rem;
        margin-bottom: 1rem;
        
    }
}