.pageSessao {
    display: grid;
    grid-template-columns: 6fr 8fr;
    min-height: 100vh;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
    }   

    &__embed-box {
        width: 100%;
        height: 60vh;

        iframe, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: none;
        }

    }
}