.vinheta {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.vinheta {

    &__info {
        position: absolute;
        top: 18rem;
        left: 4rem;
        font-size: 3.2rem;
        font-weight: 900;
        line-height: 4rem;
        color: $vermelho;
        z-index: 2;

        button {
            background-color: transparent;
            border: none;
            font-size: 3.2rem !important;
            padding: 0 !important;
            color: $vermelho !important;
            margin-top: 1.6rem;
            transition: all .2s ease-in-out;
            cursor: pointer;

            &:hover {
                letter-spacing: .3rem;
                color: $vermelho;
            }
        }
    }
}
.vinheta__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

.vinheta__bg canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.vinheta__close-btn {
  cursor: pointer;
  background-color: $vermelho !important;
  border: none !important;
  font-size: 3.6rem !important; 
  transition: all .2s ease-in-out;
  top: 0 !important;
  right: 0 !important;

  &:hover {
    letter-spacing: .2rem;
  }
}